name: "Build and test"

on:
  pull-request:
    branches: 
    - main
  push:
    branches: 
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - name: checkout
      uses: actions/checkout@v2
    
    - name: setup ruby ${{ github.event.inputs.RUBY_VERSION }} 
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ github.event.inputs.RUBY_VERSION }}
          bundler-cache: true

    - name: rake
      env:
        RAILS_ENV: test
        DATABASE_URL: "postgres://postgres:postgres@localhost:5432"
      run: |
        bundle exec rails db:create
        bundle exec rails db:migrate
        bundle exec rails db:seed
        bundle exec rails test